.dropbtn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0 4px 19px 0 rgba(0,0,0,0.6);
    z-index: 1;
}

.content a {
    color: black;
    padding: 14px;
    text-decoration: none;
    display: block;
}

.content a:hover {
    background-color: red;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
